.Header{
    position: fixed;
    position: sticky;
    top: 0%;
    width: 10%;
    background-color:black;
}
.Footer{
    position: sticky;
    bottom: 0%;
    width: 1%;
    background-color:black;
}